[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-aas-installer-patcher
Exec=harbour-aas-installer-patcher
Name=AAS Installer Patcher

[X-Sailjail]
OrganizationName=dev.chrastecky
ApplicationName=aas-installer-patcher
Sandboxing=Disabled
