<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>harbour-aas-installer-patcher</vendor>
  <icon_name>package-x-generic</icon_name>
  <action id="dev.chrastecky.aas_patcher.daemon.file_exists">
    <description>Check if a file exists</description>
    <message>Authentication is required to check whether a file exists as root. IMPORTANT: This might be dangerous. If you don't know which app is asking for this, decline this request.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="dev.chrastecky.aas_patcher.daemon.read_file">
    <description>Read a file</description>
    <message>Authentication is required to read the contents of a file as root. IMPORTANT: This might be dangerous. If you don't know which app is asking for this, decline this request.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="dev.chrastecky.aas_patcher.daemon.write_file">
    <description>Write a file</description>
    <message>Authentication is required to write the contents of a file as root. VERY IMPORTANT: This might be very dangerous. If you don't know which app is asking for this, decline this request.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
